[submodule "backend_node"]
	path = backend_node
	url = https://github.com/danielxfeng/daniels_lab_backend_node
[submodule "frontend_react"]
	path = frontend_react
	url = https://github.com/danielxfeng/daniels_lab_frontend_react
