[submodule "backend_node"]
	path = backend_node
	url = https://github.com/danielxfeng/daniels_lab_backend_node
	branch = main
	update = checkout
[submodule "frontend_react"]
	path = frontend_react
	url = https://github.com/danielxfeng/daniels_lab_frontend_react
	branch = main
	update = checkout
[submodule "web_deployment"]
	path = web_deployment
	url = https://github.com/danielxfeng/web_deployment
	branch = main
	update = checkout
